<p id="notice"><%= notice %></p>

<h1>My Stocks</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Company Worth</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>
        <% puts 'stock_quote.nil', @stock_quote.nil? %>
        <% unless @stock_quote.nil? %>
          <% @stock_quote = StockQuote::Stock.quote(stock.ticker) %>
          <tr>
            <td><%= link_to @stock_quote.name, stock %></td>
            <td><%= stock.ticker %></td>
            <td><%= @stock_quote.l %></td>
            <td><%= @stock_quote.mc %></td>
            <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
          </tr>
        <% else %>
          <tr>
            <td><%= link_to 'Error', stock %></td>
            <td><%= stock.ticker %></td>
            <td><%= 'Error' %></td>
            <td><%= 'Error' %></td>
            <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
          </tr>
        <% end %>

      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path, class: 'btn btn-info' %>
