<%= form_tag root_path, :method => 'POST' do %>
    <div class="form-group">
        <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50, class: 'form-control' %>
        <%= submit_tag 'Look up stock quote', class: 'btn btn-primary' %> 
    </div>
<% end %>
<% if @error %>
<!--error not working-->
    <%= @error %>
<% elsif @stock %>
<div class="card">
  <div class="card-header"><strong>Company Name: </strong><%= @stock.name %> - <%= @stock.symbol %><br/></div>
  <div class="card-body">        
    <strong>Current Ask: </strong><%= @stock.l %><br/>
    <strong>Earnings Per Share: </strong><%= @stock.eps %><br/>
    <strong>Price/Earning Ratio: </strong><%= @stock.pe %><br/>
    <strong>Market Cap: </strong><%= @stock.mc %><br/>
    <strong>Stock Open: </strong><%= @stock.op %><br/>
    <strong>Day's Range: </strong><%= @stock.lo %> - <%= @stock.hi %><br/>
    <strong>Year High: </strong><%= @stock.hi52 %><br/>
    <strong>Year Low: </strong><%= @stock.lo52 %><br/></div> 
  <div class="card-footer">Footer</div>
</div>

<% elsif @nothing %>
    <%= @nothing %>
<% end %>
